
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #444857;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
}

h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
    cursor: default;
    user-select: none;
    width: 100%;
    text-align: center;
}

#start {
    background-color: #CC46BF;
    color: white;
    width: 220px;
    padding: 1.2rem;
    border: none;
    border-radius: 12px;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

#start:hover {
    opacity: 0.9;
}

#board {
    margin-top: 30px;
    width: 340px;
    height: 320px;
    background-color: #FFCE9E;
    display: flex;
    flex-direction: column;
}

#board .row {
    width: 100%;
    height: calc(100% / 8);
    display: flex;
}

#board .row .square {
    background-color: #FFCE9E;
    width: calc(100% / 8);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pieces {
    width: 34px;
    height: 34px;
    border: 2px solid black;
    border-radius: 50%;
}

.pieces:hover {
    filter: brightness(80%);
}

#scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 28px;
    margin-bottom: 14px;
    text-align: center;
    width: 300px;
    cursor: default;
    user-select: none;
}

#scores h2 {
    font-size: 2.4rem;
    margin-bottom: 26px;
}

#points-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#points-box div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#points-box div p {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

#points-box div small {
    font-size: 0.7rem;
}

@media (max-width: 480px) {

    main {
        width: 100%;
    }
    
    h1 {
        font-size: 1.8rem;
    }

    #board {
        width: 290px;
        height: 270px;
    }

    .pieces {
        width: 28px;
        height: 28px;
    }

    #scores h2 {
        font-size: 1.8rem;
    }

}